*
{
    padding: 0;
    margin: 0;

}
body
{
    background-color:rgb(179, 145, 145);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1
{
  color: #FCFFE7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.todolist
{
    width: 60%;
    height:70%;
    background-color: #FFF3E2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


}
input
{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    margin-top: 20px;
    outline: none;
    background-color: #FFE5CA;

}
.liste
{
    list-style: none;
    width: 70%;
    height: 25px;
}
.liste li
{
    background-color:#ea8e8e ;
    margin-top: 10px ;
    padding: 10px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;

}
.btn
{
    padding: 10px 15px;
    background-color: #E74646;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1.1rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    cursor: pointer;
}
.butn
{
    padding: 3px 9px;
    border: none;
    border-radius: 7px;
   cursor: pointer;
   background-color: #e87057;
   margin-left: 10px;
   color: white;

}  
.valider {
 text-decoration: line-through; 

  }
  